/* Standarts */
:root {
	font-size: 62.5%; /* To make 1 rem = 10 px */ 

	--ff-open: "Open Sans", sans-serif;
	--ff-oswald: "Oswald", sans-serif;

	--fw-300: 300;
	--fw-600: 600;
	--fw-800: 800;

	--fs-300: 1rem;
	--fs-600: 1.2rem;
	--fs-800: 2rem;

	--color-border-top: #117050;
	--color-bar: #006341;
	--color-btn: #454545;
	--color-back-footer: #333333;
}

* {
	margin: 0;
	padding: 0;
}

/* Box sizing rules */
*,
*::before,
*::after {
	box-sizing: border-box;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
	text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
	max-width: 100%;
	display: block;
}

/* Set core root defaults */
html:focus-within {
	scroll-behavior: smooth;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
	list-style: none;
}

/* Set core body defaults */
body {
	min-height: 100vh;
	text-rendering: optimizeSpeed;
	line-height: 1.5;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
	font: inherit;
}

/*


CSS GERAL


*/

body{
	border-top: 1.08rem solid var(--color-border-top);
}

.container{
	max-width: 1200px;
	margin-inline: auto;
}

.banner-main{
	background-image: url(imgs/bg.jpg);
}

/*


CSS ESPECÍFICO


*/

/* HEADER */

.header{
	display: flex;
	justify-content: flex-end;
	align-items: center;
	gap: 30px;

	padding: 2rem;
}

.header form{
	display: flex;
	align-items: center;
}

.header form button{
	background-color: transparent;
	border: none;
	position: relative;
	right: 2.2rem;
}

/* Disable clear button */
.header form input[type="search"]::-webkit-search-clear-button,
.header form input[type="search"]::-webkit-search-cancel-button,
.header form input[type="search"]::-webkit-search-results-button,
.header form input[type="search"]::-webkit-search-results-decoration {
  display: none;
}


#starbucks-logo{
	width: 6.4rem;
	margin-right: auto;
}

#menu-icon{
	width: 2.4rem;
}

#loupe-search{
	height: 2rem;
}

#search{
	width: 22.2rem;
	font-size: 1.6rem;
	padding: 0.7rem 1rem;
	border: 1px solid #999;
	outline: 0; /* removes the focus animation */
}


/* FIRST BANNER AREA */

.banner-body{
	padding-left: 4.8rem;
	padding-block: 12.8rem;
}

.banner-body h1{
	font-size: 9.6rem;
	font-weight: var(--fw-800);
	font-family: var(--ff-oswald);
	line-height: 1;
}

.banner-body p{
	margin-top: 4.8rem;
	font-family: var(--ff-open);
	font-size: 1.6rem;
}

.banner-imgs{
	display: flex;
	gap: 4rem;
	margin-top: 6.4rem;
}

.image-back{
	width: 16rem;
	height: 16rem;
	border-radius: 8rem;
	border: 5px solid;
	border-color: var(--color-border-top);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.image-back:first-child{
	background-image: url(imgs/c1.jpg);
}

.image-back:nth-child(2){
	background-image: url(imgs/c2.jpg);
}

.image-back:last-child{
	background-image: url(imgs/c3.jpg);
}

/* GRID AREAS */


/* FIRST GRID AREA */

.area-grid{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: auto 30rem;
	grid-template-areas: 
	
	"body-1 img1-1"
	"img2-1 img1-1"
	;
}


.bar{
	background-color: var(--color-bar);
	width: 17.6rem;
	height: 2.1rem;
	margin-bottom: 1.6rem;
}

.area-body{
	grid-area: body-1;
	padding-inline: 16rem;
	padding-block: 4.8rem;
	color: black;
}

.area-body h4{
	font-size: 3.6rem;
	font-weight: var(--fw-800);
	font-family: var(--ff-oswald);
	line-height: 1.2;
}

#Gagas{
	font-style: italic;
	margin-block: 2rem;
}

.area-body p{
	font-family: var(--ff-open);
	font-size: 1.6rem;
	font-weight: 400;
}

/* THE TEMPLATE SHARES THE BUTTONS */

.btn{
	display: block;
	width: 17.6rem;
	background-color: transparent;
	border: 2px solid var(--color-btn);
	border-radius: 3px;
	font-size: 1.6rem;
	font-family: var(--ff-open);
	font-weight: var(--fw-300);
	color: var(--color-btn);
	text-decoration: none;
	text-align: center;
	margin-top: 5rem;
	padding: 1rem 3rem;
}

.btn:hover{
	background-color: var(--color-btn);
	border: 2px solid transparent;
	color: white;
}

#image1-area-1{
	height: 100%;
	grid-area: img1-1;
	background-image: url(imgs/f1.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

#image2-area-1{
	grid-area: img2-1;
	background-image: url(imgs/f2.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

/* SECOND GRID AREA */

.area-grid.second{
	grid-template-rows: auto 30rem;
	grid-template-areas: 
	
	"img1-2 body-2"
	"img1-2 img2-2"
	;
}

.area-grid.second .area-body{
	padding-block: 9rem; 
}

.area-body.second{
	grid-area: body-2;
}

.area-body.second p{
	margin-top: 2rem;
}

#image1-area-2{
	height: 100%;
	grid-area: img1-2;
	background-image: url(imgs/f3.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

#image2-area-2{
	grid-area: img2-2;
	background-image: url(imgs/f4.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

/* THIRD GRID AREA */

.area-grid-two {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-areas: 
	"body-3 img1-3"
	;
}

.area-grid-two .area-body{
	grid-area: body-3;
	padding-left: 16rem;
	padding-block: 25rem;
	background-image: url(imgs/bg2.jpg);
	background-size: cover;
	background-position: left;
}

.area-grid-two .area-body p{
	margin-top: 2rem;
}

#image-area-3{
	grid-area: img1-3;
	height: 100%;
	background-image: url(imgs/f5.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

/* SECOND BANNER AREA */

.second-banner{
	display: grid;
	grid-template-columns: 2fr 3fr;
	grid-template-areas: 
	"body-banner right-banner";
}

.banner-right{
	background-image: url(imgs/bg3.jpg);
	background-position: left;
	background-repeat: no-repeat;
	background-size: cover;
	grid-area: right-banner;
}

.second-banner .area-body{
	padding-left: 16rem;
	padding-block: 20rem;
	grid-area: body-banner;
	background-color: #e8e9ee;
}

.second-banner .area-body p{
	margin-top: 2rem;
}
